print("hello, world!")

In [2]:
print("miriam")

miriam

In [3]:
print("5/6/2023")

5/6/2023

In [4]:
#creating a function that returns the VAT of a given cost
def calculate_vat(cost):   
    vat= cost* (16/100)
    return vat

In [5]:
calculate_vat(100)

16.0

In [6]:
calculate_vat(700)

112.0

In [7]:
calculate_vat(75)

12.0

Say you are helping a friend to calculate their weekly paycheck after taxes.

They're in a 12% tax bracket (in other words, 12% of their salary is taken for taxes, and they only take home 88%), and
They're paid hourly, at a rate of $15/hour.
The function below calculates the paycheck based on the number of hours worked. The function is more complicated than with the first example, because the function has more lines of code and comments.
Say you are helping a friend to calculate their weekly paycheck after taxes.

They're in a 12% tax bracket (in other words, 12% of their salary is taken for taxes, and they only take home 88%), and
They're paid hourly, at a rate of $15/hour.

In [8]:
def calculate_net_pay(number_of_hours):
    total_pay=number_of_hours*15
    return total_pay*(88/100)

In [9]:
calculate_net_pay(40)

528.0

In [10]:
calculate_net_pay(100)

1320.0

In [11]:
def age(age):
    if age>=18:
        message="adult"
    else:
        message="child"
    return message

In [12]:
print (age(10))

child

In [13]:
print (age(28))

adult

In [14]:
print (age(18))

adult

In [15]:
def time(time):
    if time>8:
        message="late"
    else:
        message="early"
    return message

In [16]:
print (time(7))

early

In [17]:
print (time(11))

late

In [18]:
#Create a program that takes in a number and returns if a number is either even or odd

In [24]:
def number(number):
    if number%2==0:
        message="even"
    else:
        message="odd"
    return message

In [25]:
number(7)

'odd'

In [27]:
number(40)

'even'

In [29]:
number(116)

'even'

In [30]:
number(2145900234709658399)

'odd'

In [31]:
number(0)

'even'

In [32]:
number(-8)

'even'

In [33]:
number(-7)

'odd'

Write a Python program that asks the user to enter their annual income and calculates their income tax based on the following tax brackets:

Income up to $10,000 is taxed at 10%

Income between $10,001 and $50,000 is taxed at 15%

Income between $50,001 and $100,000 is taxed at 20%

Income above $100,000 is taxed at 25%

In [3]:
def income ():
    annual_income = int(input("please enter your annual income"))
    if   annual_income>0 and annual_income<=10000:
         tax=0.1*annual_income
    elif annual_income>10000 and annual_income<=50000:
        tax=0.15*annual_income
    elif annual_income>50000 and annual_income<=100000:
        tax=0.2*annual_income
    elif annual_income<=0:
        tax=0*annual_income
    else:
        tax=0.25*annual_income
    return tax

In [4]:
income()

please enter your annual income4000000

1000000.0

In [46]:
def income (annual_income):
    if   annual_income>0 and annual_income<=10000:
         tax=0.1*annual_income
    elif annual_income>10000 and annual_income<=50000:
        tax=0.15*annual_income
    elif annual_income>50000 and annual_income<=100000:
        tax=0.2*annual_income
    elif annual_income<=0:
        tax=0*annual_income
    else:
        tax=0.25*annual_income
    return tax

In [47]:
income(1000003)

250000.75

In [38]:
income(49500)

7425.0

In [50]:
income(10)

1.0

In [48]:
income(-7)

0

In [49]:
income(-11000)

0

Write a Python program that asks the user to enter a range of years (start year and end year) and determines the number of leap years within that range

In [ ]:
# Challenge 2
# In a particular company, taxi fares consist of a base fare of Ksh.200, 
# plus Ksh.25 for every 140 meters traveled. 
# Write a function that takes the distance traveled (in kilometers) 
# as its only parameter and returns the total fare as its only result.
#

In [8]:
def total_fare(distance):
    total_fare=200+(25*(distance//0.14))
    return total_fare

In [10]:
total_fare(10)

1975.0

In [11]:
total_fare(5)

1075.0

In [1]:
fruits=['mango','orange','banana','avocado','pineapple']

In [3]:
fruits.append("grapes")

In [4]:
print(fruits)

['mango', 'orange', 'banana', 'avocado', 'pineapple', 'grapes', 'grapes']

In [8]:
fruits[-1:]

['grapes']

In [7]:
print(fruits)

['mango', 'orange', 'banana', 'avocado', 'pineapple', 'grapes', 'grapes']

In [9]:
fruits.remove("grapes")

In [10]:
print(fruits)

['mango', 'orange', 'banana', 'avocado', 'pineapple', 'grapes']

In [12]:
fruits.pop(4)

'pineapple'

In [13]:
print(fruits)

['mango', 'orange', 'banana', 'avocado', 'grapes']

In [14]:
fruits[3]="kiwi"

In [15]:
print(fruits)

['mango', 'orange', 'banana', 'kiwi', 'grapes']

In [16]:
sorted(fruits)

['banana', 'grapes', 'kiwi', 'mango', 'orange']

In [17]:
prices=[1500,5000,10000,17000,45000,50000]

In [18]:
sum(prices)

128500

In [23]:
average=sum(prices)/len(prices)

In [24]:
print(average)

21416.666666666668

In [25]:
max(prices)

50000

In [26]:
min(prices)

1500

In [2]:
#Create a list of five towns in Kenya
towns=["kisii","busia","narok","kitale","malindi"]
for town in towns:
    print(town,end=" ")

kisii busia narok kitale malindi

In [3]:
#create a for loop that adds 3 to each number in this list and prints out the final value
numbers=[2,6,7,3,4,5]
for number in numbers:
    print(number+3)

5
9
10
6
7
8

In [2]:
for i in range(1,7):
    if i==3:
        continue
    print(i)

1
2
4
5
6

In [1]:
for i in range(1,7):
    if i==3:
        break
    print(i)

1
2

#You are given a list of integers called numbers_list. Write a Python function called filter_even_numbers that takes this list as input and returns a new list containing only the even numbers from the original list. Use a loop to iterate through the numbers_list and implement the filtering logic inside the loop. Remember to handle any necessary steps to ensure the function behaves correctly when called with different inputs.

In [6]:
numbers_list=[1,2,3,4,5,6,7,8,9]
def filter_even_numbers(numbers_list):
    even_list=[]
    for i in numbers_list:
        if i%2==0:
            even_list.append(i)
    return even_list

In [7]:
filter_even_numbers(numbers_list)

[2, 4, 6, 8]

In [4]:
#Calculate the number of seconds in a year
def seconds_in_year(year):
    if year%4==0:
        return 366*24*60*60
    else:
        return 365*24*60*60

In [5]:
seconds_in_year(2023)

31536000

In [6]:
seconds_in_year(2024)

31622400

TypeError: 'int' object is not callable